*{
  margin:0;
  padding:0;
}

body {
  overflow-x: hidden;
}

img{
  border-radius:50%;

}
.grid-container1 {
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: auto ;
  /*border:solid;*/
  background-color: #547d8b;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 155px auto;
  grid-template-rows: auto ;
}

.gridA {
  display:flex;
  background-color: #fff ;
  padding: 13.5px;
  color:#009473;

}
.gridB {
  display:flex;
  background-color: #547d8b;
  color:#fff;
  padding-left:15px;

}

.nieuwepclass {
  padding:2% 6% 6% 13%;
}
.grid-container3 {
  display:grid;
  grid-template-columns:155px  auto;
   /*border: 1px #000*/
   width: 100%;
   height: 200px;

}
.grid1{
  /*border: 1px #000;*/
  display:flex;
  background-color: #fff;
  color:#009473;
  padding:  15px;

}
.grid2{
  /*border: 1px #000*/
  display:flex;
  flex-direction: column;
  background-color: #547d8b;
  color:#fff;
  padding-left:15px;
  padding-top:10px
}
.foto{
  display:flex;
  justify-content: center;
  width:100%;
  padding: 15px;
}
.naam{
  display:flex;
  justify-content: center;
  padding:10px;
  color: #fff;
}
.functie{
  display:flex;
  justify-content: center;
  padding-bottom:10px;
  color: #fff;
}
.grid-container4{
  display: grid;
  grid-template-columns: 155px auto;
  grid-column: 1/3;
  grid-template-rows: 50px;
}
.gridC{
  display:flex;
  background-color: #fff ;
  padding-left: 15px;
  padding-right: 15px;
  color:#009473;
}
.gridD{
  display:flex;
  background-color: #547d8b;
  color:#fff;
  padding-left:15px;
  justify-content: space-around;
}
.cv-link {
  align-self:
}
